@import "../assets/styles/searchbarStyle.css";
@import "../assets/styles/commonStyle.css";
@import "../assets/styles/homepageStyle.css";

:root {
  background-color: #0e1113;
  box-sizing: border-box;
  min-height: 100vh;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}
